@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
  font-weight: 700;
  background-color: #eee;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main {
  width: 100%;
  height: 100%;
  padding: 3rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#color_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
}
#target_color_box {
  width: 80%;
  height: 20rem;
  border-radius: 1rem;
  border: 1px solid gray;
}
#options_container {
  width: 100%;
  display: flex;
  gap: 1rem;
}
#options_container button {
  animation: slideUp 0.7s;
  border: 1px solid gray;
  height: 5rem;
  flex: 1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#options_container button:hover {
  transform: scale(1.07);
}
#instruction_btn,
#reset {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 1rem;
  background-color: red;
  cursor: pointer;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}
#instruction_btn:hover,
#reset:hover {
  transform: scale(1.07);
}
@media (max-width: 500px) {
  #options_container button {
    height: 3.5rem;
  }
  #options_container {
    gap: 0.65rem;
  }
  #target_color_box {
    width: 100%;
  }
  .instruction_container {
    max-width: 25rem;
    width: 75%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
